
body.dark{
  background: black;
  color: wheat;
}
body.dark::before{
  width: 100vw;
  height: 100vh;
  background-image: url(../2.jpg);
  background-size: cover;
  background-position: center center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;/*-1 可以当背景*/
  opacity: 0.6;
  /* filter: blur(3px); */
}
body.dark .resume{
  min-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  background: inherit;
}
body.dark .resume > section{
  padding: 60px 0;
}
body.dark .resume > section{ text-align: center;}
body.dark .resume > section > span >span > h1{ text-align: center;}
body.dark .resume > section > p{ text-align: center; margin-top: 15px;}
body.dark .resume > section > h1 > span{font-size: 1.8em; text-align: center;}
body.dark .resume .profile{ text-align: center;margin-top: 16px;}
body.dark .resume .skills{
  margin-top: -20px;
}
body.dark .resume .skills > h2{
  font-size: 2em;
}

body.dark .resume .skills > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.dark .resume .skills > ul > li{
  width: 40%; border: 1px solid #ddd; margin: 26px 5%; padding: 10px 40px; border-radius: 4px;
}
body.dark .resume .skills > ul > li > .remove{
  width: 1.5em;
  height: 1.5em;
  border: none;
}
body.dark .resume .projects > h2 {font-size: 2em; margin-right: 1em; margin-top: -20px;}
body.dark .resume .projects > ol > li > .remove{
  width: 1.5em;
  height: 1.5em;
  border: none;
}
body.dark .resume .projects header{display: flex; margin-bottom: 10px; align-items: center; justify-content: space-between;}
body.dark .resume .projects .start{ display: flex;}
body.dark .resume .projects>ol>li{margin: 20px 20%; padding: 10px;border:1px solid #ddd; border-radius: 4px;}
.skills > ul > li {position: relative;}
.skills > ul > li .remove {position: absolute; top: 0; right: 0;}
.projects > ol > li {position: relative; }
.projects > ol > li .remove {position: absolute; bottom: 0; right: 0;}
