.editableSpan {
  position: relative;
}

.editableSpan svg {
  display: none;
  position: absolute;
  width: 3em;
  left: 100%;
  top: 0;
  font-size: 18px;
  color: rgb(185, 57, 57);
}

.editableSpan:hover svg {
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}

.editableSpan>input {
  vertical-align: middle;
}