.editableSpan {
  position: relative;
}

.editableSpan button {
  display: none;
  position: absolute;
  width: 3em;
  left: 100%;
  top: 0;
  font-size: 18px;
}

.editableSpan:hover button {
  display: inline-block;
  background-color: rgb(91, 91, 241);
  border: none;
  border-radius: 5px;
  padding: 4px;
  z-index: 1;
}

.editableSpan>input {
  vertical-align: middle;
}