.editableSpan {
  position: relative;
}

.editableSpan svg {
  display: none;
  position: absolute;
  width: 3em;
  left: 100%;
  top: 0;
  font-size: 18px;
}

.editableSpan:hover svg {
  display: inline-block;
  z-index: 1;
}

.editableSpan>input {
  vertical-align: middle;
}