
    * {
      margin: 0;
      padding: 0;

    }

    *,
    *::after,
    *::before {
      box-sizing: border-box
    }
    button{
      outline:none;
    }
    div[v-cloak]{display: none;}
    .page{
      height: 100vh;
      font-size: 18px;
    }
    .page::before{
      width: 100vw;
      height: 100vh;
      background-image: url(./17.jpg);
      background-size: cover;
      background-position: center center;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;/*-1 可以当背景*/
      opacity: 0.6;
      /* filter: blur(3px); */
    }
    .buttonTop{
      font-size: inherit;
      color:inherit;
      background-color: rgb(116, 54, 75);
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      padding: 15px;
      box-shadow: 0px 0px 2px 1px rgb(241, 78, 133);
    }
    .buttonTop:hover{
      font-size: inherit;
      background-color: rgb(241, 78, 133);
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      padding: 15px
    }
    .buttonDown{
      font-size: inherit;
      color:white;
      background-color: rgb(116, 54, 75);
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      padding: 15px;
      box-shadow: 0px 0px 2px 1px rgb(241, 78, 133);
    }
    .buttonDown:hover{
      font-size: inherit;
      background-color: rgb(241, 78, 133);
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      padding: 15px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    ol,
    ul {
      list-style: none;
    }

    @media (min-width: 500px) {
      .page {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
      }
    }
    .page > div{
      display: flex;
      justify-content: space-between;
    }
    .page aside {
      width: 100px;
      display: flex;
      background: #292931;
      flex-direction: column;
      justify-content: space-between ;
      text-align: center;
      flex-shrink: 0;
    }
    .page aside >.upper{
      color: #FFF;
      display: flex;
      flex-direction: column;
    }
    .page main {
      width: 100vw;
      padding-right: 80px;
      border: 1px solid #ddd;
      flex-grow: 1;
      overflow: auto;
    }
    .button{
      padding: 5px;
      margin-bottom: 8px;
    }
    .exitPreview{
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 150px;
      height: 35px;
      background-color: rgb(158, 158, 233);
      border: none;
      border-radius: 5px;
    }
    .exitPreview:hover{
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 150px;
      height: 35px;
      background-color: rgb(80, 80, 223);
      border: none;
      border-radius: 5px;
    }
    