.skinPicker{
  position: fixed;
  min-width: 500px;
  min-height: 4em;
  transform: translateX(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 30px;
  margin-left: -250px;
  margin-top: -150px;
  box-shadow: 0 0 5px black;
  background-color: #292931;
}
.skinPicker > svg{
  color: #FFF;
}
.skinPicker > .button1,.button2,.button3{
  width: 5em;
  height: 3em;
  border: none;
  border-radius: 4px;
}
.skinPicker > .button1{
  background-color: #EBFAFD;
  color: rgb(85, 141, 194);
}
.skinPicker > .button2{
  background-color: #1B2B3B;
  color: rgb(172, 172, 172);
}
.skinPicker > .button3{
  background-color: #FBB466;
  color: rgb(238, 74, 74);
}
.skinPicker > .button1:hover,.button2:hover,.button3:hover{
  box-shadow: 0px 0px 2px 1px rgb(241, 78, 133);
}