<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>简历制作工具</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/editable-span.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
  <div class="page" id="page">
    <aside>
      <div class="upper">
        <ul>
          <li>
            <button class="button" v-on:click="onClickSave">保存</button>
          </li>
          <li>
            <button class="button">分享</button>
          </li>
          <li>
            <button class="button">换肤</button>
          </li>
          <li>
            <button class="button">打印</button>
          </li>
        </ul>
      </div>
      <div class="down">
        <button class="button" @click="onLogOut" v-show="hasLogin()">注销</button>
      </div>
    </aside>
    <main>
      <div class="resume">
        <section>
          <h1>
            <editable-span v-bind:value="resume.name" v-on:edit="onEdit('name' , $event)"></editable-span>
          </h1>
          <p>应聘职位：
            <editable-span v-bind:value="resume.jobTitle" v-on:edit="onEdit('jobTitle' , $event)"></editable-span>
          </p>
          <p class="profile">生日：
            <editable-span v-bind:value="resume.birthday" v-on:edit="onEdit('birthday' , $event)"></editable-span>
            ||性别：
            <editable-span v-bind:value="resume.gender" v-on:edit="onEdit('gender' , $event)"></editable-span>
            ||Email：
            <editable-span v-bind:value="resume.emal" v-on:edit="onEdit('emal' , $event)"></editable-span>
            ||Phone：
            <editable-span v-bind:value="resume.phone" v-on:edit="onEdit('phone' , $event)"></editable-span>
          </p>
        </section>
        <section class="skills">
          <h2>技能</h2>
          <ul>
            <li>
              <span class="name">静态页面制作</span>
              <div class="description">完美实现设计稿</div>
            </li>
            <li>
              <span class="name">静态页面制作</span>
              <div class="description">完美实现设计稿</div>
            </li>
            <li>
              <span class="name">静态页面制作</span>
              <div class="description">完美实现设计稿</div>
            </li>
            <li>
              <span class="name">静态页面制作</span>
              <div class="description">完美实现设计稿</div>
            </li>
          </ul>
        </section>
        <section class="projects">
          <h2>项目经历</h2>
          <ol>
            <li>
              <header>
                <div class="start">
                  <h3 class="name">项目1</h3>
                  <span class="link">http://xxx/xxx</span>
                </div>
                <div class="end">
                  <li class="keywords">jQuery、CSS3、响应式</li>
                </div>
              </header>
              <p class="description">我是一个前端程序员我是一个前端程序员我是我是一个前端程序员我是一个前端程序员我是一个前端程序员我是一个前端程序员一个前端程序员我是一个前端程序员</p>
            </li>
            <li>
              <header>
                <div class="start">
                  <h3 class="name">项目1</h3>
                  <span class="link">http://xxx/xxx</span>
                </div>
                <div class="end">
                  <li class="keywords">jQuery、CSS3、响应式</li>
                </div>
              </header>
              <p class="description">我是一个前端程序员我是一个前端程序员我是我是一个前端程序员我是一个前端程序员我是一个前端程序员我是一个前端程序员一个前端程序员我是一个前端程序员</p>
            </li>
            <li>
              <header>
                <div class="start">
                  <h3 class="name">项目1</h3>
                  <span class="link">http://xxx/xxx</span>
                </div>
                <div class="end">
                  <li class="keywords">jQuery、CSS3、响应式</li>
                </div>
              </header>
              <p class="description">我是一个前端程序员我是一个前端程序员我是我是一个前端程序员我是一个前端程序员我是一个前端程序员我是一个前端程序员一个前端程序员我是一个前端程序员</p>
            </li>
            <li>
              <header>
                <div class="start">
                  <h3 class="name">项目1</h3>
                  <span class="link">http://xxx/xxx</span>
                </div>
                <div class="end">
                  <li class="keywords">jQuery、CSS3、响应式</li>
                </div>
              </header>
              <p class="description">我是一个前端程序员我是一个前端程序员我是我是一个前端程序员我是一个前端程序员我是一个前端程序员我是一个前端程序员一个前端程序员我是一个前端程序员</p>
            </li>
          </ol>

        </section>
      </div>
    </main>

    <div v-show="loginVisible" class="login" v-cloak>
      <form @submit.prevent="onLogin" class="form">
        <h2>登录</h2>
        <button type="button" @click="loginVisible = false">退出</button>
        <div class="row">
          <label>邮箱</label>
          <input type="text" v-model="login.email">
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="login.password">
        </div>
        <div class="actions">
          <button type="submit">确定</button>
          <a @click="signUpVisible = true;loginVisible = false" href="#">注册</a>
        </div>
      </form>
    </div>
    <div v-show="signUpVisible" class="signUp" v-cloak>   
        <form class="form" @submit.prevent="onSignUp"> <!-- .prevent 事件修饰符 -->
          <h2>注册</h2>
          <button type="button" @click="signUpVisible = false">退出</button> <!-- 不加type会出现aleat内容-->
          <div class="row">
            <label>注册邮箱</label>
            <input type="text" v-model="signUp.email">
          </div>
          <div class="row">
            <label>密码</label>
            <input type="password" v-model="signUp.password">
          </div>
          <div class="actions">
            <button type="submit">提交</button>
            <a @click="loginVisible = true;signUpVisible = false" href="#">登录</a>
          </div>
        </form>
      </div>
  </div>
  <script src="../vendors/av-min.js"></script>
  <script src="./js/av.js"></script>
  <script src="../vendors/vue.min.js"></script>
  <script src="./js/editable-span.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>