<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>简历制作工具</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/themes/default.css">
  <link rel="stylesheet" href="./css/themes/dark.css">
  <link rel="stylesheet" href="./css/themes/white.css">
  <link rel="stylesheet" href="./css/editable-span.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="stylesheet" href="./css/share.css">
  <link rel="stylesheet" href="./css/skinPicker.css">
  <link rel="stylesheet" href="./css/print.css" media="print">
</head>

<body class="default">
  <div class="page" id="page">
    <aside v-show="mode === 'edit'">
      <div class="upper">
        <ul>
          <li>
            <button class="buttonTop" v-on:click="onClickSave">保存</button>
          </li>
          <li>
            <button class="buttonTop" @click="shareVisible = !shareVisible">分享</button>
          </li>
          <li>
            <button class="buttonTop" @click="skinPickerVisible = !skinPickerVisible">换肤</button>
          </li>
          <li>
            <button class="buttonTop" @click="print">打印</button>
          </li>
        </ul>
      </div>
      <div class="down">
        <button class="buttonDown" @click="onLogOut" v-show="hasLogin()">注销</button>
      </div>
    </aside>
    <main>
      <div class="resume">
        <section>
          <h1>
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.name" v-on:edit="onEdit('name' , $event)"></editable-span>
          </h1>
          <p>应聘职位：
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.jobTitle" v-on:edit="onEdit('jobTitle' , $event)"></editable-span>
          </p>
          <p class="profile">生日：
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.birthday" v-on:edit="onEdit('birthday' , $event)"></editable-span>
            ||性别：
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.gender" v-on:edit="onEdit('gender' , $event)"></editable-span>
            ||Email：
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.emal" v-on:edit="onEdit('emal' , $event)"></editable-span>
            ||Phone：
            <editable-span :disabled="mode ==='preview'" v-bind:value="displayResume.phone" v-on:edit="onEdit('phone' , $event)"></editable-span>
          </p>
        </section>
        <section class="skills">
          <h2>技能</h2>
          <ul>
            <li class="skillSet" v-for="skill,index in displayResume.skills">
              <editable-span class="name" :disabled="mode ==='preview'" :value="skill.name" @edit="onEdit(`skills[${index}].name`,$event)"></editable-span>
              <div class="description">
                <editable-span :disabled="mode ==='preview'" :value="skill.description" @edit="onEdit(`skills[${index}].description`,$event)"></editable-span>
              </div>
              <button id="remove" class="remove" v-if="index>=4 && mode==='edit'" @click="delateSkill(index)">X</button>
            </li>
            <li class="addAndRemove" v-if="mode==='edit'">
              <button @click="addSkill">添加技能</button>
              <button @click="delateSkill">删除上一个</button>
            </li>
          </ul>
        </section>
        <section class="projects">
          <h2>项目经历</h2>
          <ol>
            <li v-for="project,index in displayResume.projects">
              <header>
                <div class="start">
                  <h3 class="name">
                    <editable-span :disabled="mode ==='preview'" :value="project.name" @edit="onEdit(`projects[${index}].name`, $event)"></editable-span>
                  </h3>
                  <span class="link">
                    <editable-span :disabled="mode ==='preview'" :value="project.link" @edit="onEdit(`projects[${index}].link` , $event)"></editable-span>
                  </span>
                </div>
                <div class="end">
                  <li class="keywords">
                    <editable-span :disabled="mode ==='preview'" :value="project.keywords" @edit="onEdit(`projects[${index}].keywords` , $event)"></editable-span>
                  </li>
                </div>
              </header>
              <p class="description">
                <editable-span :disabled="mode ==='preview'" :value="project.description" @edit="onEdit(`projects[${index}].description`, $event)"></editable-span>
              </p>
              <button class="remove" v-if="index>=2 && mode==='edit'" @click="delateProject">删除</button>
            </li>
            <li class="addAndRemove" v-if="mode==='edit'">
              <button class="add" @click="addProject">添加项目</button>
              <button class="removeTwo" @click="delateProject">删除项目</button>
            </li>
          </ol>
        </section>
      </div>
    </main>

    <div v-show="loginVisible" class="login" v-cloak>
      <form @submit.prevent="onLogin" class="form">
        <h2>登录</h2>
        <button type="button" @click="loginVisible = false">退出</button>
        <div class="row">
          <label>邮箱</label>
          <input type="text" v-model="login.email">
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="login.password">
        </div>
        <div class="actions">
          <button type="submit">确定</button>
          <a @click="signUpVisible = true;loginVisible = false" href="#">注册</a>
        </div>
      </form>
    </div>
    <div v-show="signUpVisible" class="signUp" v-cloak>
      <form class="form" @submit.prevent="onSignUp">
        <!-- .prevent 事件修饰符 -->
        <h2>注册</h2>
        <button type="button" @click="signUpVisible = false">退出</button>
        <!-- 不加type会出现aleat内容-->
        <div class="row">
          <label>注册邮箱</label>
          <input type="text" v-model="signUp.email">
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="signUp.password">
        </div>
        <div class="actions">
          <button type="submit">提交</button>
          <a @click="loginVisible = true; signUpVisible = false" href="#">登录</a>
        </div>
      </form>
    </div>
    <div v-show="shareVisible" class="share" v-cloak>
      <h3>分享链接</h3>
      <textarea readonly :value="shareLink"></textarea>
    </div>
    <button class="exitPreview" @click="mode='edit'" v-if="mode==='preview'">退出预览</button>
    <div v-show="skinPickerVisible" class="skinPicker" v-cloak>
      <button @click="setTheme('default')">
        默认皮肤
      </button>
      <button @click="setTheme('dark')">
        奢华暗黑
      </button>
      <button @click="setTheme('white')">
        至尊商务
      </button>
    </div>
  </div>
  <script src="../vendors/av-min.js"></script>
  <script src="./js/av.js"></script>
  <script src="../vendors/vue.min.js"></script>
  <script src="./js/editable-span.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>